@model Brand.Add


@using (Ajax.BeginForm("_BrandAdd", "Masters",
        new { src = ViewBag.src },
         new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnBegin = "ShowLoadingDialog()" },
            new { @id = "_BrandAddForm" })
    )
{


  
    @Html.HiddenFor(x => Model.BrandID)
<div class="row p-2">
    <div class="col-lg-2 col-md-4 col-sm-6 form-group">
        <label>Name<sup>*</sup></label>
        @Html.TextBoxFor(model => model.BrandName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 form-group">
        <label>Code </label>
        @Html.TextBoxFor(model => model.BrandCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BrandCode, "", new { @class = "text-danger" })
    </div>


    <div class="col-lg-2 col-md-4 col-sm-12 form-group">
        <label>Priority</label>
        @Html.TextBoxFor(model => model.Priority, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
    </div>


    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
        <label>Description</label>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="col-lg-12 form-group text-right">

        @if (Model.BrandID > 0)
        {
            <button type="submit" class="btn client-save btn-primary" name="Command" value="Add"> Update</button>
        }
        else
        {
            <button type="submit" class="btn  client-save btn-primary" name="Command" value="Add">@*<i class="fa fa-paper-plane" aria-hidden="true"></i>*@ Submit</button>
        }
    </div>

</div>
}