@model IList<DealerCategory.List>
@section style{
    @System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
<div class="table-section">
    @Html.Partial("ListHeader_Partial", "Dealer Category List")

    <div class="row">
        <div class="col-lg-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <div class="table-responsive">
                            <table id="example" class="table table-bordered table-hover table-responsive-lg table-responsive-md table-responsive-sm text-nowrap key-buttons">
                                <thead>
                                    <tr>
                                        <th>S.no.</th>
                                        <th>Action</th>
                                        <th>Category Name</th>
                                        <th>Category Code</th>
                                        <th>Inserted Date</th>
                                        <th>Inserted by</th>
                                        <th>Updated Date</th>
                                        <th>Updated by</th>
                                        <th>IP Address</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @{ int count = 0;}
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>
                                                <input type="hidden" name="I" value="@item.DealerCategoryID" />
                                                <input type="hidden" name="N" value="@item.Name" />


                                                @if (ClsApplicationSetting.GetSessionValue("Modify") == "True")
                                                {
                                                    @Html.Raw(item.IsActive == true
                                              ? "<a  data-toggle='tooltip' data-original-title='Click to DeActivate' list='DealerCategory_IsActive' OP='0' class='AIsActive' > <i class='fa fa-circle-check' aria-hidden='true'></i></a>"
                                              : "<a data-toggle='tooltip' data-original-title='Click to Activate' list='DealerCategory_IsActive' OP='1'  class='AIsActive' > <i class='fa fa-circle-xmark' aria-hidden='true'></i></a>")



                                                    <a title="Edit" onclick="ListHeaderAdd(@item.DealerCategoryID);" data-toggle='tooltip'> @*<i class="fa fa-pencil-square-o checkgreen" aria-hidden="true"></i>*@ <i class="fa-solid fa-pen-to-square checkgreen" aria-hidden="true"></i> </a>
                                                }

                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.Code</td>

                                            <td>@item.CreatedDate</td>
                                            <td>@item.CreatedBy</td>
                                            <td>@item.ModifiedDate</td>
                                            <td>@item.ModifiedBy</td>
                                            <td>@item.IPAddress</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="modal fade pop-dgn" id="ViewModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header blk-gdn-btn">
                    <h4 class="modal-title"><span class="mx-2"><i class="fas fa-print"></i></span>Add Dealer Category </h4>
                    <div class="close" data-dismiss="modal">&times;</div>
                </div>
                <div class="modal-body">
                    <div id="TagetDiv"></div>
                </div>
            </div>
        </div>

    </div>

</div>
    @section scripts    {
        @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

        @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

        <script>

         function ListHeaderAdd(ID) {
        if (ID == undefined)
        {
            ID = 0;
        }
			$.ajax({
                url: "/Masters/_DealerCategoryAdd",
                type: "Get",
                data: { src: EncryptJSON(@ViewBag.MenuID+"*" + "/Masters/_DealerCategoryAdd" + "*" + ID) },
                success: function (data)
                {
                    $("#TagetDiv").empty();
                    $("#TagetDiv").html(data);
                    $('#ViewModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    })
                    $(".applyselect").select2();
                     var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);
				},
				error: function (er) {
					alert(er);

				}
			});
            }



        function OnSuccess(obj) {
            if (obj.Status) {
                SuccessToaster(obj.SuccessMessage);
                window.location.reload();
            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }
        }

        </script>

    }
