
@section style{
    @System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
<div class="table-section">
    @Html.Partial("ListHeader_Partial", "Payment Mode List")

    <div class="row">
        <div class="col-lg-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="">
                        <div class="table-responsive">
                            <table id="tblDataTable" class="table table-bordered table-hover text-nowrap key-buttons">
                                <thead>
                                    <tr>
                                        <th>S.no.</th>
                                        <th>Action</th>
                                        <th>Name</th>
                                        <th>Short Name</th>
                                        <th>Inserted Date</th>
                                        <th>Inserted by</th>
                                        <th>Updated Date</th>
                                        <th>Updated by</th>
                                        <th>IP Address</th>
                                    </tr>

                                </thead>
                                <tbody>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="modal fade pop-dgn" id="ViewModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-header blk-gdn-btn">
                    <h4 class="modal-title"><span class="mx-2"><i class="fas fa-print"></i></span>Add Payment Mode </h4>
                    <div class="close" data-dismiss="modal">&times;</div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div id="TagetDiv"></div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

    <script>
            $(document).ready(function () {
                BindDataTable();
            });
         function ListHeaderAdd(ID) {
        if (ID == undefined)
        {
            ID = 0;
        }
			$.ajax({
                url: "/Masters/_PaymentModeAdd",
                type: "Get",
                data: { src: EncryptJSON(@ViewBag.MenuID+"*" + "/Masters/_PaymentModeAdd" + "*" + ID) },
                success: function (data)
                {
                    $("#TagetDiv").empty();
                    $("#TagetDiv").html(data);
                    $('#ViewModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    })
                     var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);
				},
				error: function (er) {
					alert(er);

				}
			});
            }



        function OnSuccess(obj) {
            if (obj.Status) {
                SuccessToaster(obj.SuccessMessage);
                window.location.reload();
            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }
            }

function BindDataTable() {
    var count = 0;
            var src = EncryptJSON(@ViewBag.MenuID+"*/Masters/_MasterList*0")
    $('#tblDataTable').DataTable({
        "processing": true,
        "serverSide": true,
        "destroy": true,
        "resposive":false,
        "ajax": {
            url: "/Masters/_MasterList?src=" + src,
            type: "post",
            data: { OtherValue:"PaymentMode"}
        },
        "columns": [
            { "data": "MasterID" },
             {
                 className: 'MasterID',
                 data: 'MasterID',
                render: function (data, type,row) {
                    if (type === 'display') {
                        let IsActiveHTML = `${(row.IsActive ? "<a  data-toggle='tooltip' data-original-title='Click to DeActivate' list='Master_IsActive'  OP='0' class='IsActive_Confirm' onclick='ActivateIsActiveClick()'> <i class='fa fa-circle-check' aria-hidden='true'></i></a>" : "<a data-toggle='tooltip' data-original-title='Click to Activate' list='Master_IsActive' OP='1' class='IsActive_Confirm' onclick='ActivateIsActiveClick()'> <i class='fa fa-circle-xmark' aria-hidden='true'></i></a>")}`
                        let HTML = `<input type='hidden' name='I' value="${row.MasterID}" /><input type='hidden' name='N' value="${row.Value}" />`
                        HTML += `${IsActiveHTML}   <a title="Edit" onclick="ListHeaderAdd(${row.MasterID});" data-toggle="tooltip"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i> </a>`;
                        return HTML
                    }
                    return data;
                }
            },

            { "data": "Name" },
            { "data": "Value" },
            { "data": "CreatedDate" },
            { "data": "CreatedBy" },
            { "data": "ModifiedDate" },
            { "data": "ModifiedBy" },
            { "data": "IPAddress" }
        ]
    });

}

    </script>

}
