@model ProductTran.Add


@using (Ajax.BeginForm("_ProductTranAdd", "Product",
        new { src = ViewBag.src },
         new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnBegin = "ShowLoadingDialog()" },
            new { @id = "_ProductTranAddForm" })
    )
{

 <div class="table-section">
        @Html.HiddenFor(x => Model.PDTranID)
        @Html.HiddenFor(x => Model.ProductID)
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Code<sup>*</sup></label>
                @Html.TextBoxFor(model => model.TranCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TranCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Name<sup>*</sup></label>
                @Html.TextBoxFor(model => model.TranName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TranName, "", new { @class = "text-danger" })
            </div>



            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <label>Priority</label>
                @Html.TextBoxFor(model => model.Priority, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-12 form-group">

                @if (Model.PDTranID > 0)
                {
                    <button type="submit" class="btn btn-indigo" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-indigo" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
                }
            </div>

        </div>
        
</div>
}