@model ProductType.Add


@using (Ajax.BeginForm("_ProductTypeAdd", "Product",
        new { src = ViewBag.src },
         new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnBegin = "ShowLoadingDialog()" },
            new { @id = "_ProductTypeAddForm" })
    )
{


<div class="table-section">
    @Html.HiddenFor(x => Model.PDTypeID)
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 form-group">
            <label>Type Name<sup>*</sup></label>
            @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 form-group">
            <label>Priority</label>
            @Html.TextBoxFor(model => model.Priority, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
            <label>Description</label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="col-lg-12 form-group">

            @if (Model.PDTypeID > 0)
            {
                <button type="submit" class="btn btn-indigo" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
            }
            else
            {
                <button type="submit" class="btn btn-indigo" name="Command" value="Add"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
            }
        </div>

    </div>
    
    </div>
}