
@model Requirement.FullView
@{
    bool Status = false;
    if (Model.ApplicationList.Any(x => x.Approved == 1))
    {
        Status = true;
    }
}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 hh-grayBox pt45 pb20">
            <div class="row justify-content-between">
                <div class="order-tracking completed">
                    <span class="is-complete"></span>
                    <p>Request Raised<br><span>@Model.RequestDate</span></p>
                </div>

                <div class="order-tracking @(Model.ApplicationOffered>0?"completed":"")">
                    <span class="is-complete"></span>
                    <p>
                        Resume Shared @Model.ApplicationOffered<br>
                        @if (Model.ApplicationOffered > 0)
                        {
                            <span>@Model.ApplicationList.Select(x => x.CreatedDate).FirstOrDefault()</span>
                        }
                    </p>
                </div>
                <div class="order-tracking @(Status?"completed":"")">
                    <span class="is-complete"></span>
                    <p>
                        Candidate Selected<br>
                        @if (Status)
                        {
                            <span>@Model.ApplicationList.Select(x => x.ApprovedDate).FirstOrDefault()</span>
                        }
                    </p>
                </div>

                <div class="order-tracking @(Status?"completed":"")">
                    <span class="is-complete"></span>
                    <p>Onboarded<br><span></span></p>
                </div>


            </div>
        </div>
    </div>
</div>
