@model List<Requirement.Application.List>
<div class="table-section">
    <div class="row">
        <div class="col-xl-12">
            <table id="example" class="table table-bordered text-nowrap key-buttons">
                <thead>
                    <tr>
                        <th>SNo.</th>
                        <th>Action</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Experience</th>
                        <th>Current Salary</th>
                        <th>Expected Salary</th>
                        <th>Current Company</th>
                        <th>Resume</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 0;}
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                <input type="hidden" name="ApplicationID" value="@item.ApplicationID" />
                                <input type="hidden" name="Name" value="@item.Name" />
                                @count
                            </td>
                            <td>
                                @if (item.Approved == 0)
                                {

                                    <a onclick="DeleteRequest(this)" title="Delete Request" data-toggle='tooltip' data-original-title="Delete Request" class="remove"><i class="fa fa-trash red-clr" aria-hidden="true"></i></a>
                                }
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.Experience</td>
                            <td>@item.Salary</td>
                            <td>@item.ExpectedSalary</td>
                            <td>@item.CurrentCompany</td>
                            <td>
                                @if (!string.IsNullOrEmpty(@item.FilePath))
                                {
                                    <a class="btn btn-dark" target="_blank" href="@item.FilePath">Resume</a>
                                }
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
