@model Tab.Approval
@section style{
    @System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
@{
    string CompanyCode = ClsApplicationSetting.GetConfigValue("Company");
}
<input type="hidden" id="hd_CompanyCode" value="@CompanyCode" />
<div class="table-section">
    <div id="LoadDashboard"></div>
    <div class="row">
        <div class="col-lg-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label class="small">&nbsp;</label>
                            <button style="display:none" type="submit" id="btnSearch" name="Command" value="Add" class="btn btndefault pull-right form-control">
                                Search
                            </button>
                        </div>
                    </div>
                    <div class="tabmargin">
                        @Html.HiddenFor(x => x.Approved)
                        <ul id="tabs" class="nav nav-tabs " role="tablist">
                            <li class="nav-item"> <a tabvalue="0" class="nav-link ripplelink AnchorApproval @(Model.Approved == 0 ? " active" : "" )" data-toggle="tab" role="tab"> Pending</a> </li>
                            <li class="nav-item"> <a tabvalue="1" class="nav-link ripplelink AnchorApproval @(Model.Approved == 1 ? " active" : "" ) " data-toggle="tab" role="tab">Processed</a></li>

                        </ul>
                    </div>
                    <div class="table-section" style="margin-top: -10px;">
                        <div class="row">
                            <div class="col-xl-12 table-responsive">
                                <table id="example" class="table table-bordered table-hover text-nowrap key-buttons dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Status</th>
                                            <th>Application Offered</th>
                                            <th>Request No.</th>
                                            <th>Request Date</th>
                                            <th>Hired For</th>
                                            @if (!String.IsNullOrEmpty(CompanyCode))
                                            {
                                                if (CompanyCode.ToLower() == "thriverainhouse")
                                                {
                                            <th>Assign To</th>
                                                }
                                            }
                                            <th>Hired Type</th>
                                            <th>Dealer Code</th>
                                            <th>Dealer Name</th>
                                            <th>Region</th>
                                            <th>State</th>
                                            <th>Branch</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="min-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ModalTargetDiv"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="RequestStatusModal" tabindex="-1" role="dialog" aria-labelledby="RequestStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RequestStatusModalLabel">View Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#fff;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="RequestStatusDiv"></div>
            </div>
        </div>
    </div>
</div>
</div>
@section scripts    {
    @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

    @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

<script>

        $(document).ready(function () {
            GetDashborad();
            $('#hd_CompanyCode').val() == "ThriveraInhouse" ? BindDataTableInhouse() : BindDataTable();
            $("#btnSearch").on('click', function () {
                $('#hd_CompanyCode').val() == "ThriveraInhouse" ? BindDataTableInhouse() : BindDataTable();
            });

            //("#btnAddglobal").hide();
            //("#btnAddglobal").show();
        });
        $('.AnchorApproval').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var att = $(this).attr("tabvalue");
            $(".AnchorApproval.active").removeClass("active");
            $(this).addClass("active");
            $("#Approved").val(att);
            $("#btnSearch").click();
        });
        function ListHeaderAdd(BranchCode,isEditMode,ReqID=0) {
            if (BranchCode == undefined) {
                BranchCode = "";
            }
            $.ajax({
                url: "/Recurit/_AddRequest",
                type: "Get",
                data: {
                    src: EncryptJSON(@ViewBag.MenuID+"*/Recurit/_AddRequest*" + BranchCode + "*" + isEditMode + "*" + ReqID)
                },
                success: function (data) {
                    $("#ModalTargetDiv").empty();
                    $("#ModalTargetDiv").html(data);
                    $('#ViewModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    })
                    $(".applyselect").select2();
                    var form = $("form")
                        .removeData("validator")
                        .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);
                },
                error: function (er) {
                    alert(er);

                }
            });
        }


        function OnAddSuccess(obj) {
            if (obj.Status) {
                SuccessToaster(obj.SuccessMessage);
                window.location.reload(true);
            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }
        }

        function FillDealer() {
            ShowLoadingDialog();
            var BranchCode = $("#BranchCode").find("option:selected").val();
            if (BranchCode != '') {
                var data = GetDropDownListByCode(BranchCode, "DealerBranchWise_Recruitment");
                if (data != '') {

                    $("#DealerCode").empty();
                    $("#DealerCode").append($("<option />").val("").text("Select"));
                    $(data).each(function () {
                        $("#DealerCode").append($("<option />").val(this.Other).text(this.Name));
                        $("#DealerCode").select2();

                    });
                    if ($("#hdnDealerCode").val() != "") {
                        $("#DealerCode").val($("#hdnDealerCode").val()).change();
                    }
                } else {
                    $("#DealerCode").empty();
                    $("#DealerCode").append($("<option />").val("").text("Select"));
                }
            } else {
                $("#DealerCode").empty();
                $("#DealerCode").append($("<option />").val("").text("Select"));
            }
            CloseLoadingDialog();
        }


        function GetDealerDetails(obj) {
            let DealerCode = $(obj).find("option:selected").val();
            var dataObject = JSON.stringify({
                'Code': DealerCode,
            });
            $.ajax({
                url: '/CommonAjax/GetDealerDetailsByCodeJson',
                type: "Get",
                data: { "DealerCode":DealerCode},
                success: function (data) {
                    $("#spnName").html(data.DealerName);
                    $("#spnCode").html(data.DealerCode);
                    $("#spnCategory").html(data.DealerCategory);
                    $("#spnDealerType").html(data.DealerType);
                    $("#spnDealerAddress").html(data.Address);
                },
                error: function (er) {
                    alert(er);

                }
            });
        }

        function DeleteRequest(obj,Name) {
            var ID = obj;
            var Msg = 'Are you sure want to delete ' + Name + ' ?';
            ConfirmMsgBox(Msg, '', function () {
                if (ID) {
                    var myobj = DelRecordJson(ID, 'Requirement_Request');
                    if (!myobj.Status) {
                        FailToaster(myobj.SuccessMessage);

                    } else {
                        SuccessToaster(myobj.SuccessMessage);
                        window.location.reload(true);

                    }
                }
            });

        }

        function GetDashborad() {
	    	$.ajax({
                url: "/Recurit/_BranchWiseEMP_Dashboard",
                type: "Get",
                data: { src: EncryptJSON(@ViewBag.MenuID+"*/Recurit/_BranchWiseEMP_Dashboard") },
                success: function (data)
                {
                    $("#LoadDashboard").empty();
                    $("#LoadDashboard").html(data);
	    	    },
                error: function (er)
                {
	    		    alert(er);
	    		}
	    	});
        }

        function ViewStatus(obj)
        {
            var ID = obj;
            var Name = $(obj).closest("tr").find("input:hidden[name=N]").val();
	        $.ajax({
                url: "/Recurit/_RequestStatus",
                type: "Get",
                data: { src: EncryptJSON(@ViewBag.MenuID+"*/Recurit/_RequestStatus*" + ID) },
                success: function (data)
                {
                    $("#RequestStatusDiv").empty();
                    $("#RequestStatusDiv").html(data);
                    $('#RequestStatusModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    })
	            },
                error: function (er)
                {
	        	    alert(er);
	        	}
	        });
        }
        function BindDataTable() {
            var count = 0;
            var Approved = $('#Approved').val();
            var src = EncryptJSON(@ViewBag.MenuID+"*/Recurit/_MyRequestsList*" + Approved)
            $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "ajax": {
                    url: "/Recurit/_MyRequestsList?src=" + src,
                    type: "post"
                },
                "columns": [
                    {
                        data: 'ApplicationOffered',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                let html = ``;
                                let application = EncryptJSON(@ViewBag.MenuID+"*/Recurit/AddApplication*" + row.ReqID);
                                if (row.Approved == 0 && row.ApplicationOffered == 0) {
                                    html = `<a onclick="DeleteRequest(` + row.ReqID + `,'` + row.RequestNo +`')" title="Delete Request" data-toggle='tooltip' data-original-title="Delete Request" class="remove"><i class="fa fa-trash red-clr" aria-hidden="true"></i></a>
                                    <a title="Edit" onclick="ListHeaderAdd('`+ row.Branch + `',1,`+ row.ReqID +`)" data-toggle='tooltip'><i class="fa-solid fa-pen-to-square checkgreen"></i> </a>`;
                                }
                                else {
                                    html = '';
                                }
                                return html
                            }
                            return data;
                        }
                    },
                    {
                        className: 'Status',
                        data: 'Status',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                let HTML = `<a title="click here to view status" onclick="ViewStatus(`+ row.ReqID +`)">View Status</a>`;
                                return HTML
                            }
                            return data;
                        }
                    },
                    {
                        data: 'ApplicationOffered',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                let offered = ``;
                                let application = EncryptJSON(@ViewBag.MenuID+"*/Recurit/AddApplication*" + row.ReqID);
                                if (row.Approved == 0) {
                                    offered = `<a class="btn btn-default text-center" title="Add" href="/Recurit/AddApplication?src=` + application + `" data-toggle='tooltip'>` + row.ApplicationOffered + `</a>`
                                }
                                else {
                                    offered = `<a class="btn btn-default text-center" title="Add" data-toggle='tooltip'>` + row.ApplicationOffered + `</a>`
                                }
                                return offered
                            }
                            return data;
                        }
                    },
                    {
                        data: 'RequestNo',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                let html = ``;
                                let src = ``;
                                if (row.Approved == 0 && row.ApplicationOffered > 0) {
                                    src = EncryptJSON(@ViewBag.MenuID+"*/Recurit/ApprovedApplication*" + row.ReqID);
                                    html = `<a title="View" title="Add" class="text-red" href="/Recurit/ApprovedApplication?src=` + src + `" data-toggle='tooltip'>` + row.RequestNo + `</ a>`
                                }
                                else {
                                    src = EncryptJSON(@ViewBag.MenuID+"*/Recurit/ViewCompleteRequirement*" + row.ReqID);
                                    html = `<a title="View" title="Add" class="text-red" href="/Recurit/ViewCompleteRequirement?src=` + src + `" data-toggle='tooltip'>` + row.RequestNo + `</ a>`
                                }

                                return html
                            }
                            return data;
                        }
                    },
                    { "data": "RequestDate" },
                    { "data": "HiredFor" },
                    { "data": "RequirementType" },
                    { "data": "DealerCode" },
                    { "data": "DealerName" },
                    { "data": "Region" },
                    { "data": "State" },
                    { "data": "Branch" },
                    { "data": "CreatedBy" },
                    { "data": "CreatedDate" },
                ],
                dom: "lBfrtip",
                lengthMenu: [
                    [10, 25, 50, 100],
                    ['10 rows', '25 rows', '50 rows', '100 rows']
                ],
                buttons: [
                    {
                        extend: "copy",
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        className: "btn-sm"
                    },
                    {
                        extend: "pageLength",
                        className: "btn-sm"
                    }

                ]
            });
        }
        function BindDataTableInhouse() {
            var count = 0;
            var Approved = $('#Approved').val();
            var src = EncryptJSON(@ViewBag.MenuID+"*/Recurit/_MyRequestsList*" + Approved)
            $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "ajax": {
                    url: "/Recurit/_MyRequestsList?src=" + src,
                    type: "post"
                },
                "columns": [
                    {
                        data: 'ApplicationOffered',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                let html = ``;
                                let application = EncryptJSON(@ViewBag.MenuID+"*/Recurit/AddApplication*" + row.ReqID);
                                if (row.Approved == 0 && row.ApplicationOffered == 0) {
                                    html = `<a onclick="DeleteRequest(` + row.ReqID + `,'` + row.RequestNo +`')" title="Delete Request" data-toggle='tooltip' data-original-title="Delete Request" class="remove"><i class="fa fa-trash red-clr" aria-hidden="true"></i></a>
                                        <a title="Edit" onclick="ListHeaderAdd('`+ row.Branch + `',1,`+ row.ReqID +`)" data-toggle='tooltip'><i class="fa-solid fa-pen-to-square checkgreen"></i>   </    a>`;
                                }
                                else {
                                    html = '';
                                }
                                return html
                            }
                            return data;
                        }
                    },
                    {
                        className: 'Status',
                        data: 'Status',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                let HTML = `<a title="click here to view status" onclick="ViewStatus(`+ row.ReqID +`)">View Status</a>`;
                                return HTML
                            }
                            return data;
                        }
                    },
                    {
                        data: 'ApplicationOffered',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                let offered = ``;
                                let application = EncryptJSON(@ViewBag.MenuID+"*/Recurit/AddApplication*" + row.ReqID);
                                if (row.Approved == 0) {
                                    offered = `<a class="btn btn-default text-center" title="Add" href="/Recurit/AddApplication?src=` + application + `" data-toggle='tooltip'>` + row.ApplicationOffered + `</a>`
                                }
                                else {
                                    offered = `<a class="btn btn-default text-center" title="Add" data-toggle='tooltip'>` + row.ApplicationOffered + `</a>`
                                }
                                return offered
                            }
                            return data;
                        }
                    },
                    {
                        data: 'RequestNo',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                let html = ``;
                                let src = ``;
                                if (row.Approved == 0 && row.ApplicationOffered > 0) {
                                    src = EncryptJSON(@ViewBag.MenuID+"*/Recurit/ApprovedApplication*" + row.ReqID);
                                    html = `<a title="View" title="Add" class="text-red" href="/Recurit/ApprovedApplication?src=` + src + `" data-toggle='tooltip'>` + row.RequestNo + `</ a>`
                                }
                                else {
                                    src = EncryptJSON(@ViewBag.MenuID+"*/Recurit/ViewCompleteRequirement*" + row.ReqID);
                                    html = `<a title="View" title="Add" class="text-red" href="/Recurit/ViewCompleteRequirement?src=` + src + `" data-toggle='tooltip'>` + row.RequestNo + `</ a>`
                                }
                    
                                return html
                            }
                            return data;
                        }
                    },
                    { "data": "RequestDate" },
                    { "data": "HiredFor" },
                    { "data": "AssignTo" },
                    { "data": "RequirementType" },
                    { "data": "DealerCode" },
                    { "data": "DealerName" },
                    { "data": "Region" },
                    { "data": "State" },
                    { "data": "Branch" },
                    { "data": "CreatedBy" },
                    { "data": "CreatedDate" },
                ],
                dom: "lBfrtip",
                lengthMenu: [
                    [10, 25, 50, 100],
                    ['10 rows', '25 rows', '50 rows', '100 rows']
                ],
                buttons: [
                    {
                        extend: "copy",
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        className: "btn-sm"
                    },
                    {
                        extend: "pageLength",
                        className: "btn-sm"
                    }

                ]
            });
        }
</script>

}
