<div class="table-section">
    @model IList<CounterDisplay.List>


    <div class="table-responsive">
        <table id="example" class="table table-bordered table-hover table-wrapper-scroll-y my-custom-scrollbar table-striped text-nowrap key-buttons">
            <thead>
                <tr>
                    <th>S.no.</th>
                    <th>Action</th>
                    <th>Date</th>
                    <th>Brand</th>
                    <th>Qty</th>
                    <th>Image</th>
                    <th>Remarks</th>
                    <th>Inserted Date</th>
                    <th>Inserted by</th>
                    <th>Updated Date</th>
                    <th>Updated by</th>
                    <th>IP Address</th>

                </tr>

            </thead>
            <tbody>
                @{ int count = 0;}
                @foreach (CounterDisplay.List item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>
                            <input type="hidden" name="I" value="@item.CounterID" />
                            <input type="hidden" name="N" value="@item.BrandName" />


                            @if (ClsApplicationSetting.GetSessionValue("Modify") == "True")
                            {
                                <a title="Edit" onclick="ListHeaderAdd(@item.CounterID);" data-toggle='tooltip'> <i class="fa fa-pencil-square-o checkgreen" aria-hidden="true"></i> </a>
                            }

                        </td>
                        <td>@item.Date</td>
                        <td>@item.BrandName</td>
                        <td>@item.Qty</td>
                        <td>
                            <a href="@item.AttachmentURL" target="_blank">
                                <img class="img-responsive listimage" src="@item.AttachmentURL" />
                            </a>
                        </td>
                        <td>@item.Remarks</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.ModifiedDate</td>
                        <td>@item.ModifiedBy</td>
                        <td>@item.IPAddress</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>