@model Tab.Date
@section style{
    @System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
<div class="table-section">
    @Html.Partial("ListHeader_Partial", "Competition List")

    <div class="row">
        <div class="col-lg-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="">


                        @using (Ajax.BeginForm("_CompetitionEntryList", "Transaction",
                                new { src = ClsCommon.Encrypt(ViewBag.MenuID + "*" + "/Transaction/_CompetitionEntryList") },
                                 new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnBegin = "ShowLoadingDialog()" },
                                    new { @id = "_CompetitionEntryListForm" })
                            )
                        {
                            <div class="row">
                                <div class="col-sm-3 form-group">
                                    <label>Month <sup>*</sup></label>
                                    @Html.TextBoxFor(model => model.Month, new { @class = "form-control", @type = "Month" })
                                    @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2" style="display:none">
                                    <label class="small"></label>
                                    <button type="submit" id="btnSubmit" name="Command" value="Add" class="btn  btn-success"></button>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-12">
                                <div id="TargetDiv"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade pop-dgn" id="ViewModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-header blk-gdn-btn">
                    <h4 class="modal-title"><span class="mx-2"><i class="fas fa-print"></i></span>Add Competition </h4>
                    <div class="close" data-dismiss="modal">&times;</div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div id="TagetDiv"></div>
                </div>
            </div>
        </div>

    </div>
</div>
    @section scripts    {
        @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

        @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

        <script>



    $('#Month').bind("change", function () {
        $("#btnSubmit").click();
    });
        $(document).ready(function () {
            $("#btnSubmit").click();
        });

        $('.AnchorApproval').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var att = $(this).attr("tabvalue");
            $(".AnchorApproval.active").removeClass("active");
            $(this).addClass("active");
            $("#Approved").val(att);
            $("#btnSubmit").click();
        });
        function OnSuccess(obj) {
            $("#TargetDiv").empty();
            $("#TargetDiv").html(obj);
           CloseLoadingDialog();
            DatatableScripts();
        }
   function ListHeaderAdd(ID) {
        if (ID == undefined)
        {
            ID = 0;
        }
			$.ajax({
                url: "/Transaction/_AddCompetitionEntry",
                type: "Get",
                data: { src: EncryptJSON(@ViewBag.MenuID+"*" + "/Transaction/_AddCompetitionEntry" + "*" + ID) },
                success: function (data)
                {
                    $("#TagetDiv").empty();
                    $("#TagetDiv").html(data);
                    $('#ViewModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    })
                    $(".applyselect").select2();
                     var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);
				},
				error: function (er) {
					alert(er);

				}
			});
            }


        function OnAddSuccess(obj) {
            if (obj.Status) {
                SuccessToaster(obj.SuccessMessage);
                window.location.href = obj.RedirectURL;
            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }
        }


            function FillProductTran() {
                var ProductName = $("#Category").find("option:selected").val();
                if (ProductName != '') {
                    var data = GetDropDownList(ProductName, "ProductTranByProductName");
                    if (data != '') {
                        $("#SubCategory").empty();
                        $("#SubCategory").append($("<option />").val("").text("Select"));
                        $(data).each(function () {
                            $("#SubCategory").append($("<option />").val(this.Name).text(this.Name));
                            $("#SubCategory").select2();

                        });
                        if ($("#hdnSubCategory").val() != "") {
                            $("#SubCategory").val($("#hdnSubCategory").val()).change();
                        }
                        CloseLoadingDialog();
                    } else {
                        $("#SubCategory").empty();
                        $("#SubCategory").append($("<option />").val("").text("Select"));
                    }
                } else {
                    $("#SubCategory").empty();
                    $("#SubCategory").append($("<option />").val("").text("Select"));
                }

            }


        </script>

    }
