@using System.Data
@model  DataSet
<div class="table-responsive">
    <table id="ExportTable" class="table table-bordered text-nowrap key-buttons">
        <thead>


            <tr role="row">
                @foreach (DataColumn item in Model.Tables[0].Columns)
                {
                    if (!item.ColumnName.Contains("_"))
                    {
                        <th>@item.ColumnName</th>

                    }
                }
            </tr>
        </thead>
        <tbody>

            @{ int Rowcount = 0;}
            @foreach (DataRow dtRow in Model.Tables[0].Rows)
            {
                Rowcount++;

                <tr role="row" class="@(Rowcount%2==0?"even":"odd")">
                    @foreach (DataColumn dc in Model.Tables[0].Columns)
                    {
                        if (!dc.ColumnName.Contains("_"))
                        {

                            if (dc.ColumnName.ToLower() == "image" || dc.ColumnName.ToLower() == "exp. image")
                            {
                                <td>
                                    <a href="@dtRow[dc.ColumnName]" target="_blank">
                                        <img class="img-responsive listimage" src="@dtRow[dc.ColumnName]" />
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @dtRow[dc.ColumnName]
                                </td>
                            }

                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


