@model Tab.Approval
@section style{
    @System.Web.Optimization.Styles.Render("~/bundle/dataTablecss")
}
<div class="table-section">

    @Html.Partial("ListHeader_Partial", "Competition Entry Report")

    <div class="row">
        <div class="col-lg-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="">


                        @using (Ajax.BeginForm("_CompetitionEntryReport", "Reports",
                                new { src = ClsCommon.Encrypt(ViewBag.MenuID + "*" + "/Reports/_CompetitionEntryReport") },
                                 new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnBegin = "OnBegin()" },
                                    new { @id = "_CounterDisplayReportForm" })
                            )
                        {
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label>Start Date <sup>*</sup></label>
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @type = "Date" })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>End Date <sup>*</sup></label>
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", @type = "Date" })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2 form-group d-flex align-items-end pt-1">
                                <label class="small">&nbsp;</label>
                                <button type="submit" id="btnSubmit" name="Command" value="Add" class="button ">
                                    <span><img src="~/assets/design/images/png/magnifying-glass.png" /></span>
                                </button>
                            </div>
                        </div>
                        }

                        <div class="row">
                            <div class="col-md-12">
                                <div id="TargetDiv">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

    @section scripts    {
        @System.Web.Optimization.Scripts.Render("~/bundle/dataTablesjs")

        @System.Web.Optimization.Scripts.Render("~/bundle/unobtrusivejs")

        <script>

          function ListHeaderExport() {
              var url = "/Export/CompetitionEntryReport_Export";
             var StartDate = $("#StartDate").val();
             var EndDate = $("#EndDate").val();
             var src = EncryptJSON(@ViewBag.MenuID+"*" + url + "*" + StartDate + "*" + EndDate)
            window.location.href = url + "?src=" + src;
    }


        function OnBegin() {
            $("#TargetDiv").empty();
            $("#TargetDiv").html('<img src="/assets/design/images/loader.gif" class="imgloader" />');
        }


        $('.AnchorApproval').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var att = $(this).attr("tabvalue");
            $(".AnchorApproval.active").removeClass("active");
            $(this).addClass("active");
            $("#Approved").val(att);
            $("#btnSearch").click();
        });
        function OnSuccess(obj) {
            $("#TargetDiv").empty();
            $("#TargetDiv").html(obj);
            CloseLoadingDialog();
            ExportTableDatatableScripts();
        }
        $('#Month').bind("change", function () {
            $("#btnSearch").click();
        });


        </script>

    }
