@model IList<Travel.List>

<div class="table-responsive">
    <table id="example" class="table table-bordered table-hover table-wrapper-scroll-y my-custom-scrollbar table-striped text-nowrap key-buttons">
        <thead>
            <tr>
                <th>S.no.</th>
                <th>Action</th>
                <th>Doc No</th>
                <th>Doc Date</th>
                <th>From City</th>
                <th>To City</th>
                <th>Start Date</th>
                <th>End Date</th>

                <th>Mode</th>
                <th>Remarks</th>
                
                    <th>Status</th>
                    <th>Approved Remarks</th>
                    <th>Approved By</th>
                    <th>Approved Date</th>
                
            </tr>

        </thead>
        <tbody>
            @{ int count = 0;}
            @foreach (Travel.List item in Model)
            {
                count++;
            <tr>
                <td>
                    @count
                    <input type="hidden" name="I" value="@item.TRID" />
                    <input type="hidden" name="N" value="@item.DocNo" />
                </td>

                <td>
                    <a title="Visit Entry" href="@Url.Action("TravelRequestsWiseVisitEntry_List", new { src = ClsCommon.Encrypt(ViewBag.MenuID + "*" + "/Travel/TravelRequestsWiseVisitEntry_List" + "*" + item.TRID+"*"+item.DocNo) })" data-toggle='tooltip'>View Entry </a>
                </td>

                <td>@item.DocNo</td>
                <td>@item.DocDate</td>
                <td>@item.FromCity</td>
                <td>@item.ToCity</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>

                <td>@item.TravelMode</td>
                <td>@item.Remarks</td>
                <td>@item.Status</td>
                <td>@item.ApprovedRemarks</td>
                <td>@item.ApprovedBy</td>
                <td>@item.ApprovedDate</td>
            </tr>
            }

        </tbody>
    </table>
</div>





